<div ng-cloak>
    <div class="row">

        <div class="col-md-8">
            <h1 translate="home.title">Bienvenue sur recherche.io</h1>
            <p class="lead" translate="home.subtitle">Page d'accueil</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, se connecter.
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>
