<div ng-cloak>
    <div class="row">
        <div class="col-md-8">


            <form name="form" role="form" novalidate ng-submit="vm.getFilmByTitle()" show-validation>

                <input type="text" class="form-control" id="nomFilm" name="nomFilm" placeholder="Recherche API, snippets, aide..." ng-model="vm.chaineSearch" ng-minlength=4 ng-maxlength=50 required>


                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Rechecher</button>

            </form>


        </div>
    </div>
</div>

